#feed{
    text-align: center;
    padding: 15px;
}
#aluno1{
    text-align: center;
    padding: 15px;
}

#prof1{
    text-align: center;
    padding: 15px;
}

#feed2{
    text-align: center;
    padding: 15px;
}